<h3>About Me</h3>
<p>
Firstly, I'm a <a href="http://www.bcit.ca/study/programs/550rdiplt" target="_blank">BCIT</a> Computer Systems graduate and a <a href="http://www.cs.sfu.ca/" target="_blank">SFU</a> current 4<sup>th</sup> year Computing Science student. In addition, I have serveral years of industry experience from working at <a href="http://www.goclio.com/" target="_blank">Clio</a>, a cloud-based legal practice management company and from <a href="http://www.antarcticadigital.com/" target="_blank">Antarctica Digital Marketing</a>. My approach to software development is to aim for agile and creative solutions.
</p>
<p>
Over the last few years, I've had the opportunity to work alongside many other talented developers in team projects. Talk about team projects and overcoming problems and such.
</p>
<p>
Curious how I made this? Check out the <a href="https://github.com/nwpan/www.nicholaspan.com" target="_blank">GitHub repository</a>.
</p>
<p>
&nbsp;
<p>
&nbsp;
</p>
