html
{ 
  background: url('bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,body
{
  height:100%;
  background-color:transparent; 
}

header
{
  padding-bottom:5px;
  color:#fff;
  background-color: rgba(0, 0, 0, 0.5);
}

#wrap
{
  min-height: 100%; 
}

#main
{
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

footer 
{
  margin-left: -20px;
  margin-right: -20px;
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
  padding-left:40px;
  padding-right:40px;
  color:#aaa;
  background-color: rgba(0, 0, 0, 0.5);
}

footer #content
{
  float:left;
}

footer #social_media
{
  text-align:right;
}

footer #author {
  text-align: center;
}
